{% extends "main.html.twig" %}

{% block title %}
    My Profile
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 panel panel-default">
            <div class="panel-body">
                <div class=" media">
                    <div class="media-left">
                        <img class="media-object" src="{{ asset('images/avatars/' ~ user.getImage()) }}" alt="Profile image">
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{ user.getEmail() }}</h2>
                        <h5>Posts: {% if size %} {{ size["count"] }} {% else %} 0 {% endif %}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% if posts %}
            <div class="col-md-12">
                <h2 class="col-md-10 med">Posts: {{ size["count"] }}</h2>
                <div class="col-md-2">
                    <a href="/post/create" class="btn btn-success" role="button">Create post</a>
                </div>
            </div>
            {% for post in posts %}
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="/post/{{ post["id"] }}">{{ post["title"] }}</a>
                        </div>
                        <div class="panel-body">
                            <div>
                                {{ post["content"]|raw }}
                            </div>
                            <p>
                                <small class="text-muted col-md-6">Added by <a href="/user/{{ user.getId() }}">{{ user.getEmail() }}</a></small>
                                <small class="text-muted col-md-6 text-right">Added at {{ post["created_at"] }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% include 'pagination.html.twig' %}
        {% else %}
            <div class="col-md-12">
                <h2 class="col-md-10">You have not created any posts yet</h2>
                <div class="col-md-2">
                    <a href="/post/create" class="btn btn-success" role="button">Create post</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}